* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #575555;
    padding: 20px;
    font-family: Arial;
  }
  
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    position: relative;
    top: 0%;
    left: 40%;
    width: 235px;
    height: 57px;
  }
  h1:hover{
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: all .25s ease;
    position: relative;
    top: 0%;
    left: 40%;
    width: 235px;
    height: 57px;
    padding: 2px;
  }
  h3{
    color: #575555;
  }
  h3:hover
  { color: rgb(255, 0, 0);
  
  }
  .row {
    position: absolute;
    left: 10%;
  }
  
  .row,
  .row > .column {
    padding: 20px;
  }
  
  .column {
    float: below;
    width: 90%;
  }
  
  .row:after {
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    padding: 10px;
  }
  