*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
}
  body{
    background-image: url('IMG_3698.JPG');
    width: 100%;
    height: 1500px;
    display: flex;
    font-family: Arial;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.MY-INFORMATION
{   position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background-color: black;
    font-size: 36px;
    width: 280px;
    text-align: center;
}
.NAME
{
    position: absolute;
    top: 35%;
    left: 25%;
    width: 160px;
    transform: translate(-50%,-50%);
    color: white;
    background-color: black;
    font-size: 36px;
    text-align: center;
}

.CONTACT
{
    position: absolute;
    top: 105%;
    left: 25%;
    width: 200px;
    transform: translate(-50%,-50%);
    color: white;
    background-color: black;
    font-size: 36px;
    text-align: center;

}
.EDUCATION
{
    position: absolute;
    top: 35%;
    left: 80%;
    width: 250px;
    transform: translate(-50%,-50%);
    color: white;
    background-color: black;
    font-size: 36px;
    text-align: center;

}
.HOBBY
{   position:absolute;
    top: 100%;
    left: 80%;
    width: 160px;
    transform: translate(-50%,-50%);
    color: white;
    background-color: black;
    font-size: 36px;
    text-align: center;

}
.data-name
{   position: absolute;
    top: 45%;
    left: 15%;
    font-size: 1.5em;
    color: rgb(6, 6, 6);
    background-color: transparent;
    text-align: right;
    height: 480px;
    width: 854px;
}
.data-contact
{position: absolute;
top: 115%;
left: 15%;
height: 70px;
font-size: 1.5em;
color: rgb(6, 6, 6);
background-color: transparent;
text-align: right;

}
.data-education
{   position: absolute;
    top: 40%;
    left: 70%;
    font-size: 1.5em;
    color: rgb(6, 6, 6);
    background-color: transparent;
    text-align: right;
    

}
.data-hobby
{   position: absolute;
    top: 110%;
    left: 70%;
    font-size: 1.5em;
    color: rgb(6, 6, 6);
    background-color: transparent;
    text-align: right;
    

}